body{
	padding-top: 0px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
.panel-default .panel-heading {
	color: #333;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
	border-color: #ddd;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
  border-radius: 4px;
  border:1px solid #ddd;
}
.breadcrumb li a{
	text-decoration: none;
}
.navbar.navbar-default .container-fluid{
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
	border: 1px solid #ddd;
	box-shadow: 2px 1px 3px 1px #ddd;
}
.mab-panel-list-group{
	margin:0px;
	padding: 0px;
}
.mab-panel-list-group-item{
	margin: 0px;
	padding: 0px;
	border: none;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
}
.mab-button-dropdown,
.btn.btn-default.mab-button-dropdown{
	margin:0px;
	margin-right: 20px;
	padding-top: 12px;
	padding-bottom: 18px;
	padding-right: 30px;
	border: none;
	outline: none;
	border-style: none;
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 0);
}
button.mab-button-dropdown:focus,
button.mab-button-dropdown:active{
	border: none;
	outline: none;
}
.dropdown-menu{
	width: 100px;
}
.dropdown-menu li a:hover{
	background-color: #337ab7;
	color: white;
}
.mab-badge{
	background-color: #337ab7;
	color: white;
}
.list-group-item:hover{
	background-color: #f5f5f5;
	cursor: pointer;
}
.description{
	margin-top: 10px;
}
.mab-marginpadding{
	margin-top: 10px;
}